/*------------------- Version Escritorio --------------------*/
/*------------------- General --------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: sans-serif;
}

body{
    display: grid;
    background: #dfe9f5;
    grid-template-columns: 280px auto;
    grid-template-rows: auto 60px;
    grid-template-areas: 
    "nav main"
    "nav footer";
    gap: 0.5em;
}



/*------------------- Navbar --------------------*/
.nav{
    grid-area: nav;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #fff;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.logo {
    text-align:justify;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
}

.logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.logo span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

.a{
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}

.fas {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item {
    position:absolute;
    top: 22px;
    margin-left: 10px;
}

.a:hover {
    background: #eee;
}

.nav:hover {
    width: 280px;
    transition: all 0.5s ease;
}

.insta {
    position: absolute;
    bottom: 10px;
}

.face {
    position: absolute;
    bottom: 70px;
}


/*------------------- Main --------------------*/
main {
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.card {
    margin: 20px;
    width: 200px;
    height: 300px;
    border-radius: 5px;
    background: var(--i);
    background-size: cover;
    box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);
    overflow: hidden;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .4);
    opacity: 0;
    transition: .5s;
}

.content h2, a {
    color: rgba(255, 255, 255, .8);
    margin: 10px 0;
}

.card:hover .content {
    opacity: 1;
}



/*------------------- Footer --------------------*/
footer {
    display: grid;
    grid-area: footer;
    justify-content: center;
    align-items: center;
    bottom: 0;
}


/*------------------- Version mobile --------------------*/

@media (max-width: 768px) {
    /*------------------- General --------------------*/
    
    
    
    /*------------------- Navbar --------------------*/
    
    
    
    
    /*------------------- Main --------------------*/
    
    
    
    
    /*------------------- Footer --------------------*/



}

